<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        #main{
            max-width: 960px;
            height:400px;
            margin:0 auto;
        }
        #main canvas{
            width: 100%;
            height:400px;
        }
        .btn-primary{
            background-color: #16b6d2;
            border:1px solid #16b6d2;
        }
        .btn-primary:hover{
            background-color: #078297;
            border:1px solid #078297;
        }
        .btn-primary.active{
            background-color: #ff6f80 !important;
            border:1px solid #ff6f80 !important;
        }
    </style>
  </head>
  <body>
      <div id="app">
        <div id="main">
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <button class="btn btn-primary mr-1" @click="changeMonth(1), active = 1" :class="{'active': active === 1}">1m</button>
            <button class="btn btn-primary mr-1" @click="changeMonth(3), active = 2" :class="{'active': active === 2}">3m</button>
            <button class="btn btn-primary mr-1" @click="changeMonth(6), active = 3" :class="{'active': active === 3}">6m</button>
            <button class="btn btn-primary mr-1" @click="changeYear(1), active = 4" :class="{'active': active === 4}">1year</button>
            <button class="btn btn-primary mr-1" @click="allData(), active = 5" :class="{'active': active === 5}">All</button>
            <select class="form-control px-1 col-12 col-sm-2 mr-1" name="year" v-model="selectYear" @change="active = 0">
                <option value="" disabled>請選擇年份</option>
                <option v-for="(item, index) in selectYears" :value="item">{{ item }}</option>
            </select>
        </div>
        

      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
    <script src="./echarts/echarts.min.js"></script>
    <script src="./xlsx/xlsx.full.min.js"></script>
    <script src="./moment/moment.js"></script>

    <script>
        let app = new Vue({
            el:'#app',
            data:{
                // 整筆資料
                xDataAll:[],
                yData1All:[],
                yData2All:[],
                yWealth1All:[],
                yWealth2All:[],

                // 篩選後資料
                xData:[],
                yData1:[],
                yData2:[],
                yWealth1:[],
                yWealth2:[],
                myChart:null,
                
                selectYears:[],
                selectYear:'',
                active:5
            },
            mounted(){

                let vm = this;
                vm.myChart = echarts.init(document.getElementById('main'));
                //fetch方法改成axios
                axios.get('./保守型投資組合比股市抗跌.xlsx',{responseType: 'arraybuffer'})
                    .then((res)=>{
                        // console.log(res)
                        if (!res.status === 200) throw new Error("fetch failed");
                        return res.data;
                    })
                    .then((ab)=>{
                        /* parse the data when it is received */
                        let data = new Uint8Array(ab);
                        let workbook = XLSX.read(data, {
                            type: "array"
                        });
                        let first_sheet_name = workbook.SheetNames[0];
                        /* Get worksheet */
                        let worksheet = workbook.Sheets[first_sheet_name];
                        let _JsonData = XLSX.utils.sheet_to_json(worksheet, { raw: true });
                        console.log(_JsonData)
                        //獲得特定位置的欄位的值
                        let cell = worksheet['A1'].v;
                        console.log(cell) 
                        _JsonData.forEach(function(e,i){
                            if(i > 9){//從Excel第10行開始 如有更改改這邊!!!!!!!
                                let dateFmt = moment(vm.ExcelDateToJSDate(e['增長'])).format('YYYY-MM-DD')
                                vm.xDataAll.push(dateFmt)//抓到日期
                                let data1 = e['__EMPTY_2'];
                                let data2 = e['__EMPTY_7'];
                                let wData1 = e['__EMPTY_1'];
                                let wData2 = e['__EMPTY_6'];
                                vm.xData = vm.xDataAll;
                                vm.yData1All.push(data1); //抓到百分比
                                vm.yData1 = vm.yData1All;
                                vm.yData2All.push(data2); //抓到百分比
                                vm.yData2 = vm.yData2All;
                                vm.yWealth1All.push(wData1);
                                vm.yWealth1 = vm.yWealth1All;
                                vm.yWealth2All.push(wData2);
                                vm.yWealth2 = vm.yWealth2All;
                            }
                        })
                        // console.log(vm.xData)//百分比array
                        // console.log(vm.yData1)//百分比array  

                        vm.drawChart();
                        let array = []

                        //拿到資料的年份
                        vm.xData.forEach(function(e,i){
                            if(moment(e).year() === vm.selectYear){
                                console.log(e,i)
                            }
                            array.push(moment(e).year())
                        })
                        vm.selectYears = array.filter(function(e,i,a){
                            return a.indexOf(e) === i;
                        })
                        
                    })
                    // console.log(moment()._d)
                    
                   
            },
            methods:{
                    ExcelDateToJSDate(date) {
                        return new Date(Math.round((date - 25569)*86400*1000));
                    },
                    drawChart(){
                        // 指定图表的配置项和数据
                        let vm = this;
                        let option = {
                            textStyle:{
                                fontSize:14
                            },
                            title: {
                                text: '投組報酬率模擬'
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer:{
                                    type:'line',
                                },
                                backgroundColor: 'rgba( 29, 94, 105, .8)',
                                lable:{
                                    borderColor:'#16b6d2'
                                },
                                formatter: function (params) {
                                    var html=params[0].name+"<br>";
                                    var dataIndex = params[1].dataIndex;//抓取其中一個的資料引數 echart文件內資料

                                    for(var i=0;i<params.length;i++){
                                        html+='<span style="display:inline-block;margin-right:5px;border-radius:10px;width:10px;height:10px;background-color:'+params[i].color+';"></span>'//前面的圓點點
                                        html+=params[i].seriesName+" : "+params[i].value+" %<br>" ;//標題 + %數
                                        html+='<span style="display:inline-block;margin-right:5px;border-radius:10px;width:10px;height:10px;background-color:'+params[i].color+';"></span>'  
                                        // html+= params[i].dataIndex
                                        let wealth = vm['yWealth'+[i+1]][dataIndex];
                                        html+="Wealth : $ "+vm.toCurrency(wealth)+" TWD<br>"
                                    }
                                    
                                    return html;
                                }
                                
                            },
                            legend: {
                                x: 'right',
                                orient: 'vertical',
                                data: ['Alpha 40_old','MSCI World All Cap NR USD']
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                containLabel: true
                            },
                            toolbox: {
                                feature: {
                                    saveAsImage: {}
                                },
                                x: 'center',
                            },
                            //日期 X軸
                            xAxis: {
                                type: 'category',
                                boundaryGap: false,
                                data: vm.xData,
                                axisLine:{
                                    lineStyle:{
                                        color:'#999'
                                    }
                                },
                                boundaryGap: true,//X軸不從0開始 會保持距離
                                
                            },
                            yAxis: {
                                type: 'value',
                                splitLine: {
                                    lineStyle: {
                                        color: '#eee'//y軸格線顏色
                                    }
                                },
                                axisLine:{
                                    lineStyle:{
                                        color:'#999'
                                    }
                                },
                                axisLabel: {  
                                    show: true,  
                                    interval: 'auto',  
                                    formatter: '{value} %'  
                                }, 
                                
                            },
                            series: [
                                //資料筆數
                                {
                                    name: 'Alpha 40_old',
                                    type: 'line',
                                    // stack: '总量',
                                    data: vm.yData1,
                                    color: ['#16b6d2'],
                                    lineStyle:{
                                        width:2//设置线条粗细
                                    },
                                    showSymbol: false,
                                    // areaStyle: {
                                    //     color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                    //         offset: 0,
                                    //         color: 'rgb(108, 203, 219 )'
                                    //     }, {
                                    //         offset: 1,
                                    //         color: 'rgb(108, 203, 219 )'
                                    //     }])
                                    // },
                                },
                                {
                                    name: 'MSCI World All Cap NR USD',
                                    type: 'line',
                                    // stack: '总量',
                                    data: vm.yData2,
                                    color: ['#ff6f80'],
                                    lineStyle:{
                                        width:2//设置线条粗细
                                    },
                                    showSymbol: false,
                                    
                                },
                            ]
                            
                        };

                        // 使用刚指定的配置项和数据显示图表。
                        vm.myChart.setOption(option);

                        /*窗口自适应，关键代码*/
                        window.onresize = function () {
                            vm.myChart.resize();
                        }
                        

                    },
                    clearData(){
                        this.xData = [];
                        this.yData1 = [];
                        this.yData2 = [];
                        this.yWealth1 = [];
                        this.yWealth2 = [];
                    },
                    allData(){
                        let vm = this;
                        vm.xData = vm.xDataAll;
                        vm.yData1 = vm.yData1All;
                        vm.yData2 = vm.yData2All;
                        vm.yWealth1 = vm.yWealth1All;
                        vm.yWealth2 = vm.yWealth2All;
                        vm.drawChart();
                    },
                    changeYear(value){
                        let vm = this;
                        let lastDay = vm.xDataAll[vm.xDataAll.length-1];//最後一天的日期
                        let oneYAgo = moment(lastDay).subtract(value,'years').format('YYYY-MM-DD');
                        console.log(oneYAgo)
                        
                        let startDate = [];
                        let index = 0;
                        this.clearData();
                        
                        this.xDataAll.forEach(function(e,i){
                            if(e === oneYAgo){
                                startDate = e;
                                index = i;
                            }
                        })
                        console.log(index, this.xDataAll.length)
                        // console.log(this.xDataAll[index])
                        for(let i= index; i<this.xDataAll.length; i++){
                            console.log(vm.xDataAll[i])
                            vm.xData.push(vm.xDataAll[i]);
                            vm.yData1.push(vm.yData1All[i]);
                            vm.yData2.push(vm.yData2All[i]);
                            vm.yWealth1.push(vm.yWealth1All[i]);
                            vm.yWealth2.push(vm.yWealth2All[i]);
                        }
                        this.drawChart();
                    },
                    changeMonth(value){
                        let vm = this;
                        let lastDay = vm.xDataAll[vm.xDataAll.length-1];//最後一天的日期
                        let oneMAgo = moment(lastDay).subtract(value,'months').format('YYYY-MM-DD');
                        // console.log(oneMAgo)
                        let startDate = [];
                        let index = 0;
                        this.clearData();
                        this.xDataAll.forEach(function(e,i){
                            if(e === oneMAgo){
                                startDate = e;
                                index = i;
                            }
                        })
                        for(let i= index; i<this.xDataAll.length; i++){
                            // console.log(vm.xDataAll[i])
                            vm.xData.push(vm.xDataAll[i]);
                            vm.yData1.push(vm.yData1All[i]);
                            vm.yData2.push(vm.yData2All[i]);
                            vm.yWealth1.push(vm.yWealth1All[i]);
                            vm.yWealth2.push(vm.yWealth2All[i]);
                        }
                        this.drawChart();
                    },
                    toCurrency(num){
                        var parts = num.toString().split('.');
                        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                        return parts.join('.');
                    }
                },
                watch:{
                    selectYear(){
                        let vm = this;
                        let array = [];
                        let index = [];
                        this.clearData();
                        this.xDataAll.forEach(function(e,i){
                            if(moment(e).year() === vm.selectYear){
                                // console.log(e,i)
                                array.push(e)
                                index.push(i)//抓到相對引數
                            }
                        })
                        // console.log(array)
                        // console.log(index)
                        this.xData = array;
                        

                        index.forEach(function(i){
                            vm.yData1.push(vm.yData1All[i])
                            vm.yData2.push(vm.yData2All[i])
                            vm.yWealth1.push(vm.yWealth1All[i])
                            vm.yWealth2.push(vm.yWealth2All[i])
                        })
                        vm.drawChart();
                    },
                    
                }
        })
    </script>
  </body>
</html>